<div class="table-card">

    <div class="header">
        <h2>Recent Payments</h2>

        <button class="view-btn">
            View All
        </button>
    </div>

    <div class="table-wrapper">

        <table>

            <thead>
                <tr>
                    <th>Payment ID</th>
                    <th>Customer</th>
                    <th>Amount</th>
                    <th>Method</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @for(payment of payments; track payment.paymentId){
                <tr>
                    <td>{{payment.paymentId}}</td>
                    <td>{{payment.customer}}</td>
                    <td>{{payment.amount}}</td>
                    <td>{{payment.method}}</td>
                    <td>{{payment.date}}</td>
                </tr>
                }
            </tbody>

        </table>

    </div>

</div>