.sidebar {
    width: 250px;
    height: 100vh;
   background-color: #1a202c;;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sidebar img {
    width: 150px;
    margin: 0 auto 30px;
    display: block;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.sidebar li {
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 5px;
}

.sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.logout {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.logout:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.material-icons {
    font-size: 22px;
}